<!doctype html>
<html ng-app='recsApp'>
<head>
  <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" ></link> -->
  <!-- <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"></link> -->
  <link rel="stylesheet" href="styles/app.css"></link>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <!-- <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script> -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
  <!-- <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script> -->
  <!-- <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script> -->
  <script src="scripts/app.js"></script>
  <script src="scripts/graphUtilsSvc.js"></script>
  <script src="scripts/recsSvc.js"></script>
  <script src="scripts/appModeCtrl.js"></script>
  <script src="scripts/customRecsCtrl.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Martel:800|Roboto:300" rel="stylesheet">
</head>
<body ng-controller="AppModeCtrl as appMode">
  <header>
    <h1>Elastic Graph Recommendations</h1>
    <p>Demos of Graph-drive recommendations</p>
  </header>

  <ul class="tabs">
    <li role="presentation" ng-class="appMode.tabSelect == 'profile' ? 'active' : ''"><a ng-click="appMode.tabSelect='profile'" href="#">User Profiles</a></li>
    <li role="presentation" ng-class="appMode.tabSelect == 'custom' ? 'active' : ''"><a href="#" ng-click="appMode.tabSelect='custom'">Build your Own!</a></li>
  </ul>

  <div ng-show="appMode.tabSelect == 'profile'" class="" ng-controller="RecsUserCtrl as recUsers">
    <select ng-options="user.name for user in recUsers.users" ng-change="recUsers.fetchProfile()" ng-model="recUsers.currentUser" ></select>

    <h2 ng-show="recUsers.currentUser.name">Movies {{recUsers.currentUser.name}} likes</h2>

    <div class="flex-grid">
      <div class="col" ng-repeat="movie in recUsers.currentUser.likedMovies">
        <img src="{{movie.poster_path}}" title={{movie.title}}></img>
      </div>
    </div>

    <h1>Elasticsearch recommends...</h1>
    <div class="flex-grid">
      <div class="col" ng-repeat="movie in recUsers.currentUser.relatedMovies">
        <img src="{{movie.poster_path}}" title={{movie.title}}></img>
      </div>
    </div>
  </div>


  <div ng-show="appMode.tabSelect == 'custom'" class="container" ng-controller="CustomRecsCtrl as customRecs">

    <h2>Movies you like...</h2>
    <div ng-repeat="movie in customRecs.recs.likes" style="display: inline-block">
      <img src="{{movie.poster_path}}" title={{movie.title}}></img>
    </div>

    <div class="input-group">
      <input type="text" class="form-control" ng-change="customRecs.search.run()" ng-model="customRecs.search.searchString" placeholder="Search for...">
        <button class="btn" type="button">Go!</button>
    </div>
    <div class="flex-grid">
      <div ng-repeat="movie in customRecs.search.hits" class="col">
        <img ng-click="customRecs.recs.likes.push(movie); customRecs.recs.run()" src="{{movie.poster_path}}" title={{movie.title}}></img>
      </div>
    </div>


    <h1>Elasticsearch recommends...</h1>
    <div class="flex-grid" ng-if="customRecs.recs.relatedMovies">
      <div class="col" ng-repeat="movie in customRecs.recs.relatedMovies" style="display: inline-block">
        <img src="{{movie.poster_path}}" title={{movie.title}}></img>
      </div>
    </div>
  </div>

</body>
</html>
