<!doctype html>
<html ng-app='recsApp'>
<head>
  <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" ></link> -->
  <!-- <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"></link> -->
  <link rel="stylesheet" href="styles/app.css"></link>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <!-- <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script> -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
  <!-- <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script> -->
  <!-- <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script> -->
  <script src="scripts/app.js"></script>
  <script src="scripts/graphUtilsSvc.js"></script>
  <script src="scripts/recsSvc.js"></script>
  <script src="scripts/appModeCtrl.js"></script>
  <script src="scripts/customRecsCtrl.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,900" rel="stylesheet">
</head>
<body ng-controller="CustomRecsCtrl as customRecs">
  <header>
    <h1>Elastic Graph Recommendations</h1>
    <p>Lightweight recommendations with Elasticsearch</p>
    <br>
  </header>

  <ul class="tabs">
    <!--<li role="presentation" ng-class="customRecs.mode == 'profile' ? 'active' : ''"><a ng-click="customRecs.mode='profile'" href="#">User Profiles</a></li>-->
    <li role="presentation" ng-class="customRecs.mode == 'define' ? 'active' : ''"><a href="#" ng-click="customRecs.setMode('define')">Your Favorite Movies</a></li>
    <li role="presentation" ng-class="customRecs.mode == 'simple' ? 'active' : ''"><a href="#" ng-click="customRecs.setMode('simple')">Searching for Similar Users</a></li>
    <li role="presentation" ng-class="customRecs.mode == 'relevance' ? 'active' : ''"><a href="#" ng-click="customRecs.setMode('relevance')">Better Relevance</a></li>
    <li role="presentation" ng-class="customRecs.mode == 'graph' ? 'active' : ''"><a href="#" ng-click="customRecs.setMode('graph')">Graph Operations</a></li>
    <li role="presentation" ng-class="customRecs.mode == 'what-else' ? 'active' : ''"><a href="#" ng-click="customRecs.setMode('what-else')">What else?</a></li>
  </ul>

  <div>

    <div ng-show="customRecs.mode == 'define'">

      <div class="intro">
        <p>Welcome! In this demo, we're demonstrating the power of Elasticsearch's Graph plugin to build and tune recommendor systems.</p>

        <h2>Start by adding a few movies that you like</h2>
      </div>
      <div class="flex-grid">
        <div ng-repeat="movie in customRecs.recs.likes" class="col">
          <img src="{{movie.poster_path}}" title={{movie.title}}></img>
          <span class="remove-movie" ng-click="customRecs.removeMovie(movie.id)">x</span>
        </div>
      </div>

      <div class="input-group">
        <input type="text" class="form-control" ng-change="customRecs.search.run()" ng-model="customRecs.search.searchString" placeholder="movie title">
          <button class="btn" type="button">Search</button>
      </div>
      <div class="flex-grid">
        <div ng-repeat="movie in customRecs.search.hits" class="col">
          <img ng-click="customRecs.addMovie(movie);" src="{{movie.poster_path}}" title={{movie.title}}></img>
        </div>
      </div>
    </div>

    <div ng-show="customRecs.mode == 'simple'">

      <div class="intro">
        <p>The recommendations we're showing you are user-user recommendations. The goal is to find users just like you, and let you know about movies they also like. This involves two phases:</p>

        <ol>
          <li>Using *search* to find users just like you</li>
          <li>Seeing what movies 'pop' -- what do users like you like that others don't?</li>
        </ol>

        <p>Here, we find like users JUST using explicitly liked movies, below are what folks just like you also like</p>
      </div>


      <div class="flex-grid">
        <div class="col" ng-repeat="movie in customRecs.recs.relatedMovies" style="display: inline-block">
          <img src="{{movie.poster_path}}" title={{movie.title}}></img>
        </div>
      </div>

    </div>

  </div>

  <div ng-show="customRecs.mode == 'relevance'">
    <div class="intro">

      <form>
        <label>Use Release Date
          <input type="checkbox" name="date" ng-model="customRecs.recs.useDate" ng-change="customRecs.setMode('relevance')"></input>
        </label>

        <label>Use Genre
          <input type="checkbox" name="genre" ng-model="customRecs.recs.useGenre" ng-change="customRecs.setMode('relevance')"></input>
        </label>
      </form>

      <p>The recommendations we're showing you are user-user recommendations. The goal is to find users just like you, and let you know about movies they also like. This involves two phases:</p>

      <ol>
        <li>Using *search* to find users just like you</li>
        <li>Seeing what movies 'pop' -- what do users like you like that others don't?</li>
      </ol>

      <p>Here, we find like users JUST using explicitly liked movies, below are what folks just like you also like</p>

    </div>

    <div class="flex-grid" ng-if="customRecs.recs.relatedMovies">
      <div class="col" ng-repeat="movie in customRecs.recs.relatedMovies" style="display: inline-block">
        <img src="{{movie.poster_path}}" title={{movie.title}}></img>
      </div>
    </div>

  </div>

  <div ng-show="customRecs.mode == 'profile'" class="" ng-controller="RecsUserCtrl as recUsers">
    <h2 ng-show="recUsers.currentUser.name">
        Movies
        <select ng-options="user.name for user in recUsers.users" ng-change="recUsers.fetchProfile()" ng-model="recUsers.currentUser" ></select>
       likes
     </h2>

    <div class="single-row">
      <div class="flex-grid">
        <div class="col" ng-repeat="movie in recUsers.currentUser.likedMovies">
          <img src="{{movie.poster_path}}" title={{movie.title}}></img>
        </div>
      </div>
    </div>

    <h3>Elasticsearch recommends</h3>
    <div class="flex-grid">
      <div class="col" ng-repeat="movie in recUsers.currentUser.relatedMovies">
        <img src="{{movie.poster_path}}" title={{movie.title}}></img>
      </div>
    </div>
  </div>

  <div ng-show="customRecs.mode == 'custom'" class="container" ng-controller="CustomRecsCtrl as customRecs">


    <h3>Elasticsearch recommends</h3>

    <h3>Graph recommendations</h3>
    <div ng-if="customRecs.recs.relatedMovies">
      <div  ng-repeat="movie in customRecs.recs.relatedMovies" style="display: inline-block">
        <div>
        <img src="{{movie.poster_path}}" title={{movie.title}}></img>

         <div style="display: inline-block">
            --&gt;
         </div>
          <div ng-repeat="subMovie in movie.related" style="display: inline-block">
            <img src="{{subMovie.poster_path}}" title={{subMovie.title}}></img>
          </div>
        </div>
        <br/>
      </div>
    </div>
  </div>
  </div>

</body>
</html>
